*{
    margin: 0;
    padding: 0;
}

      
.bola {

       
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: aqua;
    
   

    
}
#titulo{
    font-family: sans-serif;
    color: black;
    margin-left: 10%; 
      
    
}

fieldset{
    border:0;
}

body{
    background-color: lightcyan;
    font-family: sans-serif;
    font-size: 1em;
    color: black;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
   

}

input, select, textarea, button{
    border-radius: 5px;

}

.campo{
    margin-bottom: 1em;
    
}

.campo label{
    margin-bottom: 0.2em;
    color: black;
    display: black;
}

fieldset{
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo select {
    padding: 0.2em;
    border: 3px solid aqua;
    display: block;
}

.campo textarea{
    box-shadow: 2px;
    padding: 2.0em;
    border: 10px solid aqua;
    display: block;
    margin-left:0%;
    border-radius: 5px;

}

.campo select option{
    padding-right: 1em;
    
}


.botao{
    font-size: 1em;
    background: aqua;
    color: white;
    border: 15px;
    width: 150px;
    height: 30px;
    text-align: center;
    margin-left: 30%;
}

